@import "../../../styles/shared";

:host {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: em($base-header-height);
    display: flex;
    align-items: stretch;
    z-index: 11;
    background-color: $background;
    border: {
        style: none none solid none;
        width: 1px;
        color: $gray;
    }
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;

    @include media-breakpoint-down(sm) {
        margin-right: 0;
    }

    .col {
        align-items: center;
        display: flex;
    }

    #logo {
        color: $dark-text;
        font: {
            weight: 300;
            size: em(24);
        }
    }

    .search {
        height: 100%;
        width: em($base-header-height);
        background-color: $search;

        button {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            -webkit-appearance: none;
            background: transparent;
            border-style: none;
        }
    }

    #main-nav {
        ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;

                @include media-breakpoint-up(md) {
                    margin: 0 1em;
                }

                a {
                    padding: 1em;
                    color: $dark-text;
                    font: {
                        size: em(14);
                        weight: 500;
                    }


                    &.active {
                        color: $dark-blue;
                    }
                }

            }
        }
    }
}
