<div class="container">
    <div class="col">
        <a id="logo" routerLink="/">LOGO</a>
    </div>
    <div class="col">
        <nav id="main-nav">
            <ul>
                <li>
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="search">
            <button>
                <i class="material-icons">
                    search
                </i>
            </button>
        </div>
    </div>
</div>
