<section>
    <header>
        <i class="material-icons">
            contacts
        </i>
        Contact
    </header>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue
        augue.
    </p>
</section>

<section>
    <header>
        <i class="material-icons">
            shopping_cart
        </i>
        Cart<span *ngIf="cartItemsArray.length">(&nbsp;{{cartCount()}}&nbsp;)</span>
    </header>

    <div id="cart">
        <div class="side-border"></div>
        <div class="cart-items" *ngIf="cartItemsArray.length">
            <app-cart-item *ngFor="let item of cartItemsArray" [item]="item"></app-cart-item>
        </div>
        <span class="empty" *ngIf="!cartItemsArray.length">Cart is empty</span>
    </div>

    <div id="buy-items" *ngIf="cartItemsArray.length">
        <app-button (click)="buyItems()">
            Buy items
        </app-button>
    </div>
</section>
