@import "../../../styles/shared";

:host {
    background-color: $light-blue;
    color: $white;
    width: em(260);
    padding: em(30) em(20);
    flex: 0 0 100%;
    position: sticky;
    top: em($base-header-height + 15);

    @include media-breakpoint-up(md) {
        flex: 0 0 em(260);
    }
}

section {
    padding-bottom: 1em;

    &:last-child {
        padding-bottom: 0;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;

        i {
            margin-right: em(10);
        }

        span {
            margin-left: .5em;
        }
    }

    p {
        opacity: .75;
        line-height: 1.4em;
        font: {
            family: $second-font;
            size: em(13);
        }
    }

    #cart {
        position: relative;
        min-height: em(130);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: em(20);

        &:before, &:after {
            content: '';
            position: absolute;
            right: 0;
            left: 0;
            height: 1px;
            background: {
                image: linear-gradient(to right, $white 50%, transparent 51%, transparent 83%, $white 84%);
                position: bottom;
                size: em(15) 100%;
                repeat: repeat-x;
            }
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

        .side-border {
            &:before, &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 1px;
                background: {
                    image: linear-gradient($white 50%, transparent 51%, transparent 83%, $white 84%);
                    position: right;
                    size: 100% em(15);
                    repeat: repeat-y;
                }
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }

        .cart-items {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: em(10);
            width: 100%;
            align-self: flex-start;
            max-height: em(400);
            overflow: auto;
        }

        .empty {
            opacity: .75;
            font: {
                family: $second-font;
                size: em(13);
            }
        }
    }

    #buy-items {
        padding-top: 1em;

        app-button {
            width: 100%;

            > .button {
                width: 100%;
            }
        }
    }
}
