@import "../../../../styles/shared";

button {
    font: {
        size: em(18);
        weight: 600;
    }
    height: em(47, 18);
    width: em(230, 18);
    cursor: pointer;
    background-color: $accent;
    color: $white;
    padding: 0;
    margin: 0;
    border-style: none;
    -webkit-appearance: none;
    transition: all 250ms ease;
    max-width: 100%;

    &:disabled {
        background-color: #2796a7;
    }
}
