@import "../../../styles/shared";

:host {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
        margin: {
            right: -2.5%;
            left: -2.5%;
        };
    }
}
