@import "shared";

body {
    font-family: $main-font;
    font-weight: $main-weight;
    font-size: #{$base-font-size}px;
    background-color: $background;
}

.container {
    width: 100%;
    margin: {
        left: 15px;
        right: 15px;
    }

    @include media-breakpoint-up(md) {
        width: 90%;
        margin: {
            left: auto;
            right: auto;
        }
    }
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
}
