/* _-_-_- base/RESET -_-_-_ */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
}

body {
	height: 100%;
	line-height: 1;
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration-line: none;
}

button {
	cursor: pointer;
}

button:focus {
	outline: none!important;
	box-shadow: none;
}

* {
	box-sizing: border-box;
}
