@import "../../../../styles/shared";

$circleBaseSize: 20px;
$circleNumber: 5;
$circleColor: $light-blue;
$circleBorderWidth: 2px;


:host {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#ffffff, .3);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100vh;
    text-align: center;
    box-sizing: border-box;

}

#loader {
    display: inline-block;
    width: $circleNumber*$circleBaseSize;
    height: $circleNumber*$circleBaseSize;
    position: relative;
    vertical-align: middle;
}

@for $i from 1 through $circleNumber {

    .circle:nth-child(#{$i}) {
        width: $i*$circleBaseSize;
        height: $i*$circleBaseSize;
        border-radius: 50%;
        border-width: $circleBorderWidth;
        border-style: solid;
        border-color: transparent;
        -webkit-transform-origin: center center;
        -webkit-animation: wave#{$i} 1.8s ease-in infinite;
        -webkit-animation-delay: $i*0.1s;

        position: absolute;
        top: ($circleNumber*$circleBaseSize/2)-($i*$circleBaseSize/2);
        left: ($circleNumber*$circleBaseSize/2)-($i*$circleBaseSize/2);
    }

    @-webkit-keyframes wave#{$i}{
        0% {
            -webkit-transform: scale(1);
        }
        10% {
            -webkit-transform: scale(1+0.3/$i);
            border-color: $circleColor;
        }
        20% {
            -webkit-transform: scale(1);
        }
        40% {
            -webkit-transform: scale(1);
            border-color: transparent;
        }
        100% {
            -webkit-transform: scale(1);
            border-color: transparent;
        }
    }
}
