<app-box>
  <app-box-icon>contacts</app-box-icon>
  <app-box-content>
    <h1>Thank you for buying some items!</h1>
    <p>Go back to <a routerLink="/">home page</a></p>
  </app-box-content>
</app-box>
