<img [src]="item.imageUrl" [alt]="item.title">
<footer>
    <div class="description">
        <h1>{{item.title}}</h1>
        <p>{{item.description}}</p>
    </div>
    <div class="add-to-cart">
        <div class="quantity" *ngIf="item.quantity">
            In stock: <strong>{{item.quantity}}</strong>
        </div>
        <app-button (click)="addToCart()" [disabled]="!item.quantity || (quantityFitToStock() | async)">
            <ng-container *ngIf="item.quantity && !(quantityFitToStock() | async)">
                <ng-container *ngIf="!(isItemInCart() | async)">
                    Add to Cart
                </ng-container>
                <ng-container *ngIf="isItemInCart() | async">
                    Add one more
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!item.quantity || (quantityFitToStock() | async)">
                Out of stock
            </ng-container>
        </app-button>
    </div>
</footer>
