@import "../../../styles/shared";

img {
    width: 100%;
    display: block;
}

footer {
    background-color: $light-blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: em(35) em(50) em(45);

    @include media-breakpoint-down(md) {
        flex-wrap: wrap;
    }

    .description {
        display: flex;
        flex: 0 0 60%;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
            flex: 0 0 100%;
        }

        h1 {
            font-size: em(18);
            margin: 0 0 1.5em;
            width: 100%;
        }

        p {
            font: {
                family: $second-font;
                size: em(13);
            }

        }
    }

    .add-to-cart {
        display: flex;
        flex: 0 0 auto;
        justify-content: flex-end;
        flex-direction: column;

        @include media-breakpoint-down(md) {
            flex: 0 0 100%;
            justify-content: flex-start;
            padding-top: 1em;
        }

        .quantity {
            text-align: center;
            padding-bottom: 1em;
        }
    }
}
