<app-box>
    <app-box-icon>contacts</app-box-icon>
    <app-box-content>
        <h1>CONTACT</h1>
        <p><a href="mailto:divante@divante.pl">divante@divante.pl</a></p>
        <p><a href="tel:123456789">tel. 123-456-789</a><br><a href="tel:887236324">tel. 887-236-324</a></p>
        <p>ul. Dmowskiego 17<br>00-000 Wrocław</p>
    </app-box-content>
</app-box>
