@import "../../../styles/shared";

:host {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
        flex-wrap: nowrap;
    }
}

.shop {
    flex: 0 0 100%;
    position: relative;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }

    @include media-breakpoint-up(md) {
        margin-left: em(50);
        flex: 1 1 auto;
    }
}
