@import "../../../../styles/shared";

:host {
    width: 100%;
    max-width: em(665);
    display: flex;
    flex-wrap: wrap;
    background-color: $white;
    box-shadow: 0 0 em(30) 0 rgba(0, 0, 0, 0.05);
    margin: auto;
    padding: em(55) em(30) em(70);

    @include media-breakpoint-up(md) {
        padding: em(55) em(130) em(70);
    }
}

.icon {
    width: em(80);
    height: em(80);
    color: $light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto em(40);
    border: {
        style: solid;
        width: 2px;
        radius: 50%;
    }

    .material-icons {
        font-size: em(32);
    }
}

.content {
    width: 100%;
}
