<div class="icon">
    <i class="material-icons">
        <ng-container [ngTemplateOutlet]="boxIconContent?.content"></ng-container>
    </i>
</div>
<div class="content">
    <ng-container [ngTemplateOutlet]="boxContent?.content"></ng-container>
</div>
