@import "../../../../styles/shared";

:host {
    position: relative;
    height: em(39, 15);
    line-height: em(39, 15);
    background-color: $dark-blue;
    margin-bottom: em(10, 15);
    color: $white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding: 0 em(10);
    flex: 1 0 100%;
    font: {
        size: em(15);
        weight: 500;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        .remove {
            opacity: 1;
        }
    }
}

.number {
    margin-right: em(12);
    color: $accent;
}

.remove {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: $white;
    background-color: transparent;
    -webkit-appearance: none;
    border-style: none;
    z-index: 1;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $dark-blue;
        z-index: -1;
        opacity: .7;
    }
}
