<a [routerLink]="['product', item.slug]">
    <span class="out-of-stock" *ngIf="!item.quantity">
        OUT OF STOCK
    </span>
    <img [src]="item.imageUrl" [alt]="item.title">
    <footer>
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
    </footer>
</a>
