@import "../../../../styles/shared";

:host {
    flex: 1 0 45%;
    margin: 0 2.5% 3.5%;
    width: 45%;

    @include media-breakpoint-up(md) {
        flex: 0 1 25%;
        margin: 0 2.5% 3.5%;
        width: 25%;
    }

    @include media-breakpoint-up(lg) {
        flex: 0 1 20%;
        margin: 0 2.5% 3.5%;
        width: 20%;
    }
}

a {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    .out-of-stock {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(45deg) translate3d(30%, 0, 0);
        width: 100%;
        padding: .5em 0;
        background-color: $dark-text;
        color: $white;
        font: {
            size: .7em;
            weight: 700;
        }

        @include media-breakpoint-up(md) {
            font-size: .8em;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1em;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    footer {
        background-color: $white;
        width: 100%;
        padding: 0 em(13) .5em;

        h2 {
            font-size: em(18);
            color: $dark-text;
            margin: 1em 0;
        }

        p {
            font-size: em(12);
            color: $light-text;
            margin: 1em 0;
        }
    }
}
