@import "../../../styles/shared";

:host {
    padding-top: em($base-header-height + 70);
    display: flex;
    min-height: 100%;
    padding-bottom: em(30);

}

.container {
    position: relative;
}
