<app-box>
    <app-box-icon>contacts</app-box-icon>
    <app-box-content>
        <h1>ABOUT</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt quam ligula, vitae varius ipsum
            viverra at. Aenean id accumsan sapien, quis faucibus urna. In id sodales quam. Duis lectus erat, dictum
            cursus rhoncus vel, vehicula vel erat. Nunc tempor felis efficitur posuere scelerisque. Morbi sed ipsum
            urna.</p>
    </app-box-content>
</app-box>
