@import "../../../styles/shared";

h1 {
    font-size: em(24);
    color: $dark-text;
    text-align: center;
    margin-bottom: 1.5em;
}

p {
    font: {
        size: em(18);
        family: $second-font;
    }
    color: $light-text;
    text-align: justify;
    line-height: 1.2;
}
